<html>
    <head>
        <meta property="fb:app_id" content="1550751988570262" />
        <meta property="og:title" content="페이스북 랜더링 테스트" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.sbs.co.kr" />
        <meta property="og:description" content="This is Description Test" />
        <meta property="og:image" content="http://image.bettyvelvet.me/images/thumbnail/htm_20160104103447789613_99_20160104103607_300-thumbnail.JPG" />
        <meta property="og:image:width" content="300" />
    </head>
    <body>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>
            $(document).ready(function(){
               //location.href = "http://www.sbs.co.kr";
            });
        </script>
    </body>
</html>