<html>
    <head>
        <meta property="fb:app_id" content="1550751988570262" />
        <meta property="og:title" content="페이스북 랜더링 테스트<%=id%>" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://bettyvelvet.me/face_book_render/<%=id%>" />
        <meta property="og:description" content="This is Description Test<%=id%>" />
        <meta property="og:image" content="<%=image_url%>" />
        <meta property="og:image:width" content="300" />
    </head>
    <body>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>
            $(document).ready(function(){
               location.href = "http://www.sbs.co.kr";
            });
        </script>
    </body>
</html>