<div class="row">
  	<div class="col-lg-12">
        <div id="accordion" role="tablist" aria-multiselectable="true">
        	<div id="card_wrap" class="card"></div>
        	
        	<a href="#" id="btnReadMore" class="btn btn-info btn-block" ng-click="readMore($event)" style="display:none">Read More</a>
        </div>
    </div>
</div>


<modal-dialog show='modalShown' width='750px' height='60%'>
	<p>정말 삭제 할까요?<p> <br>
	<a href="/">네</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="" >아니요</a>
</modal-dialog>