<div class="row">
  	<div class="col-lg-12">
  		<textarea class="form-control" rows="10" name="content" id="content" ng-keyup="contentKeyup()" ng-keydown="contentKeyDown()" ng-model="content"></textarea>
  		<div style="text-align:right">
  			<span class="byte_count">0</span>/200 byte
  		</div>
  	</div>
</div>